@{
    ViewBag.Title = "Tổng quan";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Dashboard - Tổng quan</h1>
</div>

<div class="row">

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Tổng số đầu sách
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SoLuongSach cuốn</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-danger shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">
                            Đơn hàng chờ duyệt
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.DonChuaDuyet đơn</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Tổng số đơn bán ra
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@ViewBag.SoLuongDonHang đơn</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-lg-6">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Phím tắt quản lý</h6>
            </div>
            <div class="card-body">
                <a href="@Url.Action("QuanLyDonHang", "Admin")" class="btn btn-danger btn-icon-split mb-2">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Duyệt đơn hàng ngay</span>
                </a>

                <br />

                <a href="@Url.Action("QuanLySach", "Admin")" class="btn btn-primary btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-plus"></i>
                    </span>
                    <span class="text">Thêm sách mới</span>
                </a>
            </div>
        </div>
    </div>
</div>